.sidebar {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}



@media (width < 1000px) {
  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    display: none;
  }
}
