.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (width < 930px) {
  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
